# FasoBazar IA - Variables d'environnement 
SECRET_KEY=django-insecure-change-this 
DEBUG=True 
ALLOWED_HOSTS=localhost,127.0.0.1 
GROQ_API_KEY=gsk_VOTRE_CLE_ICI 
GEMINI_API_KEY=AIzaSy_VOTRE_CLE_ICI 
TWILIO_ACCOUNT_SID=VOTRE_SID_ICI 
TWILIO_AUTH_TOKEN=VOTRE_TOKEN_ICI 
TWILIO_WHATSAPP_NUMBER=whatsapp:+14155238886 
DEMO_PASSWORD=demo2026 
OZ_PRODUCT=Pagnes bazin 
OZ_AMOUNT=15000 
OZ_TYPE=VENTE 
