# Python
*.pyc
*.pyo
__pycache__/
*.py[cod]

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environnement
.env
.env.local
.env.production
venv/
env/
.venv/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Render
.render/